@model Vehicle_Showroom_Management_System.Areas.Admin.Data.Brand

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/Index.cshtml";
}


<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<div class="container">
    <br />
    <h2 style="text-align: center"><b>Add new Brand</b></h2>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formCreate", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <b>
                            @Html.LabelFor(model => model.BrandName, htmlAttributes: new { @class = "control-label col-md-4" })
                        </b>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.BrandName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BrandName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 50px">
                        <b>
                            <label for="imgInp">Choose Image</label>
                        </b>
                        <div class="col-md-9">
                            <input type="file" name="ImageFile" value="" id="imgInp" />
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 80px">
                        <a onclick="clickTest()" class="btn btn-success" style="color: white"><b>Add new Brand</b></a>
                        <a href="/Admin/Brand" class="btn btn-primary"><b>Back to List</b></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <img class="control-label col-md-9" id="idimg" />
                </div>
                <br />
                <button type="submit" id="btnSubmit" disabled hidden ></button>
            </div>
        </div>
    }
    <script>
    var files;
            $('#imgInp').change(function ()
            {
                readimg(this);
            })
    function readimg(file) {
        if (file.files && file.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                console.log("added");
                $('#idimg').attr('src', e.target.result);
            };
            files = file;
            reader.readAsDataURL(file.files[0]);


        }
    }
   @* $("form").on("submit", function (e) {
        e.preventDefault();
        console.log(this);
    });*@


        @*function filePreview(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('uploadForm + img').remove();
                    $('uploadForm').after('img src="' + e.target.result + '"width="450" height="300"/>');
                };
                reader.readAsDataURL(input.files[0]);
            }

        }
        $("#file").change(function () {

            filePreview(this);
        })*@

        function clickTest() {
            var i = 0;
            if (i == 0 && $("#BrandName").val() == "") {
                swal("There was a problem !!!", "Please enter BrandName", "error").then(() => { $("#BrandName").focus(); });
            } else {
                if (i == 0 && $("#BrandName").val().length > 256) {
                    swal("There was a problem !!!", "Maximum length of BrandName is 256 characters", "error").then(() => { $("#BrandName").focus(); });
                } else {
                    i++;
                }
            }
            if (i == 1) {
                setTimeout(function () {
                    swal({
                        title: "Add Brand success!",
                        icon: "success",
                        buttons: false,
                        dangerMode: false,
                    })
                    setTimeout(function () {
                        $("#btnSubmit").removeAttr('disabled');
                        $("#btnSubmit").click();
                    }, 800);
                }, 100);
            }
        }
    </script>
