@model Vehicle_Showroom_Management_System.Areas.Admin.Data.Car
@{
    ViewBag.Cars = "active";
    ViewBag.Title = Model.CarName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <section class="featured-places">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div>
                        @foreach (var item in ViewBag.Images)
                        {
                            if (item.Status == 1)
                            {
                                <img src="~/Areas/Admin/Contents/Images/@item.Name" id="avatar" alt="" width="550px" height="320px">
                            }
                        }
                    </div>
                    <br>
                    <div class="row" style="width: 600px; margin-left: 0px">
                        @foreach (var item in ViewBag.Images)
                        {
                            <img src="~/Areas/Admin/Contents/Images/@item.Name" onclick="changeImage(this)" style="margin-right: 11px; cursor: pointer; margin-bottom:15px" width="174px" height="110px">
                        }
                    </div>
                </div>

                <div class="col-md-6 col-xs-12">
                    <form action="#" method="post" class="form">
                        <h2><strong class="text-primary" id="priceOutput"></strong></h2>

                        <br>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left">Type</span>

                                    <strong class="pull-right">
                                        @if (Model.Status == 1)
                                        {
                                            @: Used vehicle
                                        }
                                        else
                                        {
                                            @: New vehicle
                                        }
                                    </strong>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left">Brand</span>

                                    <strong class="pull-right">@ViewBag.Brands</strong>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left"> Model</span>

                                    <strong class="pull-right">@ViewBag.ModelCars</strong>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left">Kilometer Gone</span>

                                    <strong class="pull-right">@Model.KilometerGone km</strong>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left">Fuel Consumption</span>

                                    <strong class="pull-right">@Model.FuelConsumption L/ 100km</strong>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left">Engine</span>

                                    <strong class="pull-right">@Model.Engine</strong>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left">Gearbox</span>

                                    <strong class="pull-right">@Model.Gearbox</strong>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left">Number of seats</span>

                                    <strong class="pull-right">@Model.SeatQuantity</strong>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left">Color</span>

                                    <strong class="pull-right">@Model.Color</strong>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="clearfix">
                                    <span class="pull-left">Created Date</span>

                                    <strong class="pull-right">@ViewBag.CreatedDate</strong>
                                </div>
                            </li>
                        </ul>

                        <div class="accordions">
                            <ul class="accordion">
                                <li>
                                    <a class="accordion-trigger">Contact Details</a>

                                    <div class="accordion-content">

                                        <p>
                                            <span>Name</span>

                                            <br>

                                            <strong>John Smith</strong>

                                        </p>

                                        <p>
                                            <span>Phone</span>

                                            <br>

                                            <strong>
                                                <a href="tel:123-456-789">123-456-789</a>
                                            </strong>
                                        </p>

                                        <p>
                                            <span>Mobile phone</span>

                                            <br>

                                            <strong>
                                                <a href="tel:456789123">456789123</a>
                                            </strong>
                                        </p>

                                        <p>

                                            <span>Email</span>

                                            <br>

                                            <strong>
                                                <a href="mailto:john@carsales.com">john@carsales.com</a>
                                            </strong>
                                        </p>
                                    </div>
                                </li>
                            </ul> <!-- / accordion -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    $(document).ready(function () {
        $("#priceOutput").text(String(@Model.PriceOutput).replace(/(.)(?=(\d{3})+$)/g, '$1,') + " $");
        $("#kilometerGone").text(String(@Model.KilometerGone).replace(/(.)(?=(\d{3})+$)/g, '$1,') + " Km");
    });

    function changeImage(element) {
        $("#avatar").attr("src", element.src);
    };
</script>