@model Vehicle_Showroom_Management_System.Areas.Admin.Data.Customer

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/Index.cshtml";
}

<link href="~/Areas/Admin/Contents/css/jquery-ui.css" rel="stylesheet" />
<script src="~/Areas/Admin/Contents/js/jquery-ui.js"></script>

<div class="container">
    <br />
    <h2 style="text-align: center"><b>Add new customer</b></h2>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formCreate" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <b>
                            @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                        </b>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", @id = "FullName" } })
                            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <b>
                            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                        </b>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @id = "Address" } })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <b>
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        </b>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @id = "Email" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <b>
                            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                        </b>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @id = "Phone", @type = "number" } })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <b>
                            @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label col-md-2" })
                        </b>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control", @id = "Birthday", } })
                            @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group" style="margin-left:100px;margin-top: 8px;">
                        <a onclick="clickCreate()" class="btn btn-success" style="color: white"><b>Add new customer</b></a>&nbsp;
                        <a href="/Admin/Customer" class="btn btn-primary"><b>Back to List</b></a>
                    </div>
                    <button type="submit" id="btnSubmit" disabled hidden class="btn btn-success">add</button>
                </div>
            </div>
        </div>
    }

    <script>
        $(document).ready(function () {
            $('#Birthday').datepicker({
                dateFormat: 'mm/dd/yy',
                changeMonth: true,
                changeYear: true,
                yearRange: '1920:2020',
            });
            $('#Birthday').attr('readonly', 'readonly');
            ; $("#formCreate").keydown(function (e) {
                if (e.which == 13) {
                    clickTest();
                }
            });
        });

        function clickCreate() {
            var i = 0;
            if (i == 0 && $("#FullName").val() == "") {
                swal("There was a problem !!!", "Please enter Fullname", "error").then(() => { $("#FullName").focus(); });
            } else {
                if (i == 0 && $("#FullName").val().length > 256) {
                    swal("There was a problem !!!", "Maximum length of Fullname is 256 characters", "error").then(() => { $("#FullName").focus(); });
                } else {
                    i++;
                }
            }
            if (i == 1 && $("#Address").val() == "") {
                swal("There was a problem !!!", "Please enter Address", "error").then(() => { $("#Address").focus(); });
            } else {
                i++;
            }

            if (i == 2 && $("#Email").val() == "") {
                swal("There was a problem !!!", "Please enter Email", "error").then(() => { $("#Email").focus(); });
            } else {
                if (i == 2) {
                    if (i == 2 && $("#Email").val().length > 100) {
                        swal("There was a problem !!!", "Maximum length of Email is 100 characters", "error").then(() => { $("#Password").focus(); });
                    } else {
                        var regex = /^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/;
                        var email = $("#Email").val();
                        if (regex.test(email)) {
                            $.ajax({
                                type: "POST",
                                url: "/Admin/Customer/CheckEmail",
                                data: '{email: "' + email + '" }',
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                success: function (response) {
                                    if (response) {
                                        swal("There was a problem !!!", "Email already existed", "error").then(() => { $("#Email").focus(); });
                                    } else {
                                        i++;
                                    }
                                    if (i == 3 && $("#Phone").val() == "") {
                                        swal("There was a problem !!!", "Please enter Phone", "error").then(() => { $("#Phone").focus(); });
                                    } else {
                                        if (i == 3 && $("#Phone").val().length > 20) {
                                            swal("There was a problem !!!", "Maximum length of Phone is 20 numbers", "error").then(() => { $("#Phone").focus(); });
                                        } else {
                                            if (i == 3 && $("#Phone").val().length < 10) {
                                                swal("There was a problem !!!", "Phone contains at least 10 numbers", "error").then(() => { $("#Phone").focus(); });
                                            } else {
                                                if (i == 3) {
                                                    var phone = $("#Phone").val();
                                                    $.ajax({
                                                        type: "POST",
                                                        url: "/Admin/Customer/CheckPhone",
                                                        data: '{phone: "' + phone + '" }',
                                                        contentType: "application/json; charset=utf-8",
                                                        dataType: "json",
                                                        success: function (response) {
                                                            if (response) {
                                                                swal("There was a problem !!!", "Phone already existed", "error").then(() => { $("#Phone").focus(); });
                                                            } else {
                                                                if ($("#Birthday").val() == "") {
                                                                    swal("There was a problem !!!", "Please choose Birthday", "error").then(() => { $("#Birthday").focus(); });
                                                                } else {
                                                                    i++;
                                                                }
                                                            }
                                                            if (i == 4) {
                                                                setTimeout(function () {
                                                                    swal({
                                                                        title: "Add customer success!",
                                                                        icon: "success",
                                                                        buttons: false,
                                                                        dangerMode: false,
                                                                    })
                                                                    setTimeout(function () {
                                                                        $("#btnSubmit").removeAttr('disabled');
                                                                        $("#btnSubmit").click();
                                                                    }, 800);
                                                                }, 100);
                                                            }
                                                        }
                                                    })
                                                }
                                            }
                                        }
                                    }
                                }
                            });
                        } else {
                            swal("There was a problem !!!", "Please enter a valid email address", "error").then(() => { $("#Email").focus(); });
                        }
                    }
                }
            }
        }
    </script>
</div>