@model Vehicle_Showroom_Management_System.Areas.Admin.Data.PurchaseOrder

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Index.cshtml";
}
    <div class="container">
        <hr />
        <h2 style="text-align:center; font-weight: bold">Details of Purchase Order Id: @Model.PurchaseOrderId</h2>
        <br />
        <table class="table table-bordered" id="tablePurchaseOrder">
            <tr>
                <th>
                    <b>Quantity Imported Car</b>
                </th>
                <th>
                    <b>Car Model Name</b>
                </th>
                <th>
                    <b>Order Date</b>
                </th>
                <th>
                    <b>Created Date</b>
                </th>
                <th>
                    <b>Updated Date</b>
                </th>
                <th>
                    <b>@Html.DisplayNameFor(model => model.Status)</b>
                </th>
            </tr>
            <tbody>
            <td style="text-align: center">
                @Model.QuantityCarImport
            </td>
            <td>
                @Model.ModelCar.ModelCarName
            </td>
            <td>
                @Html.DisplayFor(model => model.OrderDate)
            </td>
            <td>
                @Model.CreatedDate
            </td>
            <td>
                @if (@Model.UpdatedDate == null)
                {
                    @: NULL
                }
                else
                {
                    @Model.UpdatedDate
                }
            </td>
            <td>
                @if (@Model.Status == 0)
                {
                    @: Imcomplete
                }
                else
                {
                    @: Completed
                }
            </td>
            </tbody>
        </table>
        <h4 style="text-align:center; font-weight: bold">List of Cars in Purchase Order</h4>
        <table class="table table-bordered" id="tableCar">
            <tr>
                <th>
                    <b>Car Name</b>
                </th>
                <th>
                    <b>Image</b>
                </th>
                <th>
                    <b>Price Output</b>
                </th>
                <th>
                    <b>Status</b>
                </th>
                <th>
                    <b>Checking</b>
                </th>
                <th></th>
            </tr>
            <tbody>
            </tbody>
        </table>
        <hr />
        <a href="/Admin/PurchaseOrder" class="btn btn-primary" style="font-weight: bold">Back to List</a>&nbsp;&nbsp;
        <a href="/Admin/PurchaseOrder/Edit?Id=@Model.Id" class="btn btn-success" style="font-weight: bold">Edit</a>
    </div>

