@model Vehicle_Showroom_Management_System.Areas.Admin.Data.PurchaseOrder

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Index.cshtml";
}
<div class="container">
    <hr />
    <div style="margin-bottom: -40px">
        <a href="/Admin/PurchaseOrder" class="btn btn-primary" style="font-weight: bold">Back to List</a>&nbsp;&nbsp;
    </div>
    <h2 style="text-align:center; font-weight: bold">Details of Purchase Order Id: @Model.PurchaseOrderId</h2>
    <div style="margin-top: -45px;float: right">
        <a href="#" class="btn btn-success" style="font-weight: bold"><i style="font-size: 20px" class="fas fa-file-export"></i> Export Report</a>
    </div>
    <hr />
    <table class="table table-bordered" id="tablePurchaseOrder">
        <tr>
            <th>
                <b>Quantity Imported Car</b>
            </th>
            <th>
                <b>Car Model Name</b>
            </th>
            <th>
                <b>Order Date</b>
            </th>
            <th>
                <b>Created Date</b>
            </th>
            <th>
                <b>Updated Date</b>
            </th>
            <th>
                <b>@Html.DisplayNameFor(model => model.Status)</b>
            </th>
        </tr>
        <tbody>
            @*<td style="text-align: center">
                    @ViewBag.importedCar / @Model.QuantityCarImport
                </td>
                <td>
                    @Model.ModelCar.ModelCarName
                </td>
                <td>
                    @Html.DisplayFor(model => model.OrderDate)
                </td>
                <td>
                    @Model.CreatedDate
                </td>
                <td>
                    @Model.UpdatedDate
                </td>
                <td>
                    @if (@Model.Status == 0)
                    {
                        @: Incomplete
                    }
                    else
                    {
                        @: Completed
                    }
                </td>*@
        </tbody>
    </table>
    <hr />
    <h4 style="text-align:center; font-weight: bold">List of Imported Cars</h4>
    <input style="float: right;margin-top: -42px" class="form-control col-md-4" name="searchCar" id="searchCar" type="text" placeholder="Search Car Name..." aria-label="Search" aria-describedby="basic-addon2" />
    <select style="float: right;position: absolute;margin-left:1000px;width:92px;margin-top: -42px" class="form-control" id="typeSearch">
        <option value="Name">Name</option>
        <option value="Model">Model</option>
    </select>
    <hr />
    <table class="table table-bordered" id="tableCar">
        <tr>
            <th style="width: 250px">
                <b>Car Name</b>
            </th>
            <th>
                <b>Image</b>
            </th>
            <th>
                <b>Price Input</b>
            </th>
            <th>
                <b>Status</b>
            </th>
            <th>
                <b>Checking</b>
            </th>
            <th></th>
        </tr>
        <tbody>
        </tbody>
    </table>
    <div class="pagination" id="pagination" style="float: right">
    </div>
    <div class="pagination" id="paginationSearchMutiplePages" style="float: right">
    </div>
    <div style="float: left; display: none" id="resultSearch">
        <div id="totalRowSearch" style="font-weight: bold"></div>
    </div>
</div>
<script>
        var pageCofig = {
            pageSize: 2,
            pageIndex: 1
        }
        var pageSearchCofig = {
            pageSize: 2,
            pageIndex: 1
        }
        $(document).ready(function () {


            $("#pagination").hide();
            $("#paginationSearchMutiplePages").hide();
            $("#paginationSearchOnePage").hide();
            $("#tableCar").find('.dataTable').remove();
            $.ajax({
                type: "POST",
                url: "/Admin/Car/LoadData",
                data: '{' + 'Id: ' + @Model.Id + ',page: ' + pageCofig.pageIndex + ',pageSize:' + pageCofig.pageSize + ' }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response.data.length > 0) {
                        var row = "";
                        for (var i = 0; i < response.data.length; i++) {
                            var status = (response.data[i].Status == 0) ? "New" : "Used";
                            var checking = (response.data[i].Checking == 0) ? "Available" : "Unavailable";
                            row += "<tr class='dataTable' id='" + response.data[i].CarId + "'>" + "<td>" + response.data[i].CarName + "</td>" + "<td>" + "<img src='/Areas/Admin/Contents/Images/" + response.data[i].ImageName + "' style = 'width: 150px;height: 100px'/>" + "</td>" + "<td>" + String(response.data[i].PriceInput).replace(/(.)(?=(\d{3})+$)/g, '$1,') + " $ " + "</td>" + "<td>" + status + "</td>" + "<td>" + checking + "</td>" + "<td style ='width:242px'> <a href='/Admin/Car/Details?ModelNumberCar=" + response.data[i].ModelNumberCar + "' class='btn btn-info' style = 'font-weight: bold'>Details</a> <a style='color: white; font-weight: bold' onclick = 'editCar(" + response.data[i].CarId + ")' class='btn btn-success' style = 'font-weight: bold'>Edit</a> <a onclick = deleteCar(" + response.data[i].CarId + ") class='btn btn-danger' style = 'font-weight: bold; color: white'>Delete</a> </td>" + "</tr>"
                        }
                        $("#tableCar").append(row);
                        $("#pagination").show();
                        pagination(response.total, function () { })
                    }
                    $("#resultSearch").show();
                    $("#totalRowSearch").text("Total numbers of car: " + response.total);
                }
            });
            $.ajax({
                type: "POST",
                url: "/Admin/PurchaseOrder/LoadData",
                data: '{' + 'Id: ' + @Model.Id + ',page: ' + pageCofig.pageIndex + ',pageSize:' + pageCofig.pageSize + ' }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response.data.length > 0) {
                        var row = "";
                        for (var i = 0; i < response.data.length; i++) {
                            var date = new Date(parseInt(response.data[i].OrderDate.replace('/Date(', '')));
                            var createdDate = new Date(parseInt(response.data[i].CreatedDate.replace('/Date(', '')));
                            if (response.data[i].UpdatedDate != null) {
                            var updatedDate = new Date(parseInt(response.data[i].UpdatedDate.replace('/Date(', '')));
                            }
                            row += "<tr class='dataTablePurchaseOrder' id='" + response.data[i].Id + "'>" + "<td style = 'text-align: center'>" + response.data[i].ImportedCar + " / " + response.data[i].QuantityCarImport + "</td>" + "<td>" + response.data[i].ModelCarName + "</td>" + "<td>" + convert(date) + "</td>" + "<td>" + convertCU(createdDate) + "</td>" + "<td>" + ((response.data[i].UpdatedDate != null) ? convertCU(updatedDate) : "NULL") + "</td>" + "<td>" + (response.data[i].Status == 0 ? "Incomplete" : "Completed") + "</td>" + "</tr>"
                        }
                        $("#tablePurchaseOrder").append(row);
                    }
                }
            });
        });
        function convert(str) {
            var date = new Date(str),
                month = ("0" + (date.getMonth() + 1)).slice(-2),
                day = ("0" + date.getDate()).slice(-2);
            return [month, day, date.getFullYear()].join("/");
        }

        function convertCU(str) {
            var date = new Date(str),
                month = ("0" + (date.getMonth() + 1)).slice(-2),
                day = ("0" + date.getDate()).slice(-2);
            hour = date.getHours();
            minute = date.getMinutes();
            second = date.getSeconds();
            return [month, day, date.getFullYear(), " Time: " + hour + ":" + minute + ":" + second].join("/");
        }


        $("#pagination").click(function () {
            loadData();
        });


        function loadData() {
            $("#tableCar").find('.dataTable').remove();
            $.ajax({
                type: "POST",
                url: "/Admin/Car/LoadData",
                data:
                    '{'+'Id: ' + @Model.Id+',page: ' + pageCofig.pageIndex + ',pageSize:' + pageCofig.pageSize + ' }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response.data.length > 0) {
                        var row = "";
                        for (var i = 0; i < response.data.length; i++) {
                            var status = (response.data[i].Status == 0) ? "New" : "Used";
                            var checking = (response.data[i].Checking == 0) ? "Available" : "Unavailable";
                            row += "<tr class='dataTable' id='" + response.data[i].CarId + "'>" + "<td>" + response.data[i].CarName + "</td>" + "<td>" + "<img src='/Areas/Admin/Contents/Images/" + response.data[i].ImageName + "' style = 'width: 150px;height: 100px'/>" + "</td>" + "<td>" + String(response.data[i].PriceInput).replace(/(.)(?=(\d{3})+$)/g, '$1,') + " $ " + "</td>" + "<td>" + status + "</td>" + "<td>" + checking + "</td>" + "<td style ='width:242px'> <a href='/Admin/Car/Details?ModelNumberCar=" + response.data[i].ModelNumberCar + "' class='btn btn-info' style = 'font-weight: bold'>Details</a> <a style='color: white; font-weight: bold' onclick = 'editCar(" + response.data[i].CarId + ")' class='btn btn-success' style = 'font-weight: bold'>Edit</a> <a onclick = deleteCar(" + response.data[i].CarId + ") class='btn btn-danger' style = 'font-weight: bold; color: white'>Delete</a> </td>" + "</tr>"
                        }
                        $("#tableCar").append(row);
                        $("#paginationSearchMutiplePages").hide();
                        $("#pagination").show();
                        pagination(response.total, function () {
                            loadData();
                        })
                    }
                        $("#resultSearch").show();
                        $("#totalRowSearch").text("Total numbers of car: " + response.total);
                }
            });
        };

        $('#typeSearch').change(function () {
            if ($("#searchCar").val() != "") {
            pageSearchCofig = {
                pageSize: 2,
                pageIndex: 1
            }

            $('#paginationSearchMutiplePages').empty();
            $('#paginationSearchMutiplePages').removeData("twbs-pagination");
            $('#paginationSearchMutiplePages').unbind("page");
            $('#pagination').empty();
            $('#pagination').removeData("twbs-pagination");
            $('#pagination').unbind("page");
            searchCarName();
            }
        });

        $("#searchCar").keyup(function () {
            pageSearchCofig = {
                pageSize: 2,
                pageIndex: 1
            }

            $('#paginationSearchMutiplePages').empty();
            $('#paginationSearchMutiplePages').removeData("twbs-pagination");
            $('#paginationSearchMutiplePages').unbind("page");
            $('#pagination').empty();
            $('#pagination').removeData("twbs-pagination");
            $('#pagination').unbind("page");
            searchCarName();
        });

        function searchCarName() {
            $("#tableCar").find('.dataTable').remove();
            var name = $("#searchCar").val().toLowerCase();
            $.ajax({
                type: "POST",
                url: "/Admin/Car/SearchInPuchaseOrder",
                data: '{' + 'Id: ' + @Model.Id + ',CarNameSearch: ' + "'" + name + "'" + ',type: ' + "'" + $("#typeSearch").val() + "'" + ',page: ' + pageSearchCofig.pageIndex + ', pageSize: ' + pageSearchCofig.pageSize + ' }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (name == "") {
                        @*$.ajax({
                            type: "POST",
                            url: "/Admin/Car/LoadData",
                            data:
                    '{'+'Id: ' + @Model.Id+',page: ' + pageCofig.pageIndex + ',pageSize:' + pageCofig.pageSize + ' }',
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (response) {
                                if (response.data.length > 0) {
                                    var row = "";
                                    for (var i = 0; i < response.data.length; i++) {
                                        var status = (response.data[i].Status == 0) ? "New" : "Used";
                                        var checking = (response.data[i].Checking == 0) ? "Available" : "Unavailable";
                                        row += "<tr class='dataTable' id='" + response.data[i].CarId + "'>" + "<td>" + response.data[i].CarName + "</td>" + "<td>" + "<img src='/Areas/Admin/Contents/Images/" + response.data[i].ImageName + "' style = 'width: 150px;height: 100px'/>" + "</td>" + "<td>" + String(response.data[i].PriceInput).replace(/(.)(?=(\d{3})+$)/g, '$1,') + " $ " + "</td>" + "<td>" + status + "</td>" + "<td>" + checking + "</td>" + "<td style = 'width: 160px'> <a href='/Admin/Car/Details?ModelNumberCar=" + response.data[i].ModelNumberCar + "' class='btn btn-info' style = 'font-weight: bold'><i class='fas fa-info-circle'></i></a> <a href='/Admin/Car/Edit?ModelNumberCar=" + response.data[i].ModelNumberCar + "' class='btn btn-success' style = 'font-weight: bold'><i class='fas fa-edit'></i></a> <a onclick = deleteCar(" + response.data[i].CarId + ") class='btn btn-danger' style = 'font-weight: bold; color: white'><i class='fas fa-times'></i></a> </td>" + "</tr>"
                                    }
                                    $("#tableCar").append(row);
                                    $("#paginationSearchMutiplePages").hide();
                                    $("#paginationSearchOnePage").hide();
                                    $("#pagination").show();

                                    $("#resultSearch").show();
                                    $("#totalRowSearch").text("Total numbers of car: " + response.total);
                                    pagination(response.total, function () {
                                        loadData();
                                    })
                                } else {
                                }
                            }
                        });*@
                        loadData();
                    } else {
                        if (response.allCars > 0) {
                            if (response.data.length > 0) {
                                var row = "";
                                for (var i = 0; i < response.data.length; i++) {
                                    var status = (response.data[i].Status == 0) ? "New" : "Used";
                                    var checking = (response.data[i].Checking == 0) ? "Available" : "Unavailable";
                                    row += "<tr class='dataTable' id='" + response.data[i].CarId + "'>" + "<td>" + response.data[i].CarName + "</td>" + "<td>" + "<img src='/Areas/Admin/Contents/Images/" + response.data[i].ImageName + "' style = 'width: 150px;height: 100px'/>" + "</td>" + "<td>" + String(response.data[i].PriceInput).replace(/(.)(?=(\d{3})+$)/g, '$1,') + " $ " + "</td>" + "<td>" + status + "</td>" + "<td>" + checking + "</td>" + "<td style ='width:242px'> <a href='/Admin/Car/Details?ModelNumberCar=" + response.data[i].ModelNumberCar + "' class='btn btn-info' style = 'font-weight: bold'>Details</a> <a style='color: white; font-weight: bold' onclick = 'editCar(" + response.data[i].CarId + ")' class='btn btn-success' style = 'font-weight: bold'>Edit</a> <a onclick = deleteCar(" + response.data[i].CarId + ") class='btn btn-danger' style = 'font-weight: bold; color: white'>Delete</a> </td>" + "</tr>"
                                }
                                $("#tableCar").append(row);
                                $("#paginationSearchMutiplePages").show();
                                paginationSearchMutiplePages(response.total, function () {
                                    searchCarName();
                                })
                            }
                            $("#resultSearch").show();
                            $("#totalRowSearch").text("Found " + response.total + " results");
                        } else {
                            swal({
                                title: "Nothing to search !",
                                text: "Please add new Car in Purchase Order",
                                icon: "error",
                                button: "Got it",
                                dangerMode: false
                            }).then((logOut) => {
                                if (logOut) {
                                    window.location.replace("/Admin/Car/Create?Id="+@Model.Id);
                                }
                            });
                        }
                    }
                }
            });
        }

        function pagination(totalRow, callback) {
            var totalPage = Math.ceil(totalRow / pageCofig.pageSize);
            $('#pagination').twbsPagination({
                totalPages: totalPage,
                visiblePages: 10,
                onPageClick: function (event, page) {
                    pageCofig.pageIndex = page;
                    setTimeout(callback, 200);
                }
            });
        };

        function paginationSearchMutiplePages(totalRow, callback) {
            var totalPage = Math.ceil(totalRow / pageCofig.pageSize);
            $('#paginationSearchMutiplePages').twbsPagination({
                totalPages: totalPage,
                visiblePages: 10,
                onPageClick: function (event, page) {
                    pageSearchCofig.pageIndex = page;
                    setTimeout(callback, 500);
                }
            });
        }

        function deleteCar(CarId) {
            swal({
                title: "Are you sure you want to delete?",
                text: "Once deleted, you will not be able to recover this car!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((logOut) => {
                if (logOut) {

                    $.ajax({
                        type: "POST",
                        url: "/Admin/Car/Delete",
                        data: { CarId: CarId },
                        contenttype: "application/json; charset=utf-8",
                        datatype: "json",
                        success: function (response) {
                            if (response) {
                                $("#" + CarId).remove();
                                if ($("#searchCar").val() == "") {
                                    loadData();

                                } else {
                                    searchCarName();
                                }
                                $("#tablePurchaseOrder").find('.dataTablePurchaseOrder').remove();

                                $.ajax({
                                type: "POST",
                                url: "/Admin/PurchaseOrder/LoadData",
                                data: '{' + 'Id: ' + @Model.Id + ',page: ' + pageCofig.pageIndex + ',pageSize:' + pageCofig.pageSize + ' }',
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                success: function (response) {
                                if (response.data.length > 0) {
                                    var row = "";
                                    for (var i = 0; i < response.data.length; i++) {
                                        var date = new Date(parseInt(response.data[i].OrderDate.replace('/Date(', '')));
                                        var createdDate = new Date(parseInt(response.data[i].CreatedDate.replace('/Date(', '')));
                                        if (response.data[i].UpdatedDate != null) {
                                        var updatedDate = new Date(parseInt(response.data[i].UpdatedDate.replace('/Date(', '')));
                                        }
                                        row += "<tr class='dataTable' id='" + response.data[i].Id + "'>" + "<td style = 'text-align: center'>" + response.data[i].ImportedCar + " / " + response.data[i].QuantityCarImport + "</td>" + "<td>" + response.data[i].ModelCarName + "</td>" + "<td>" + convert(date) + "</td>" + "<td>" + convertCU(createdDate) + "</td>" + "<td>" + ((response.data[i].UpdatedDate != null) ? convertCU(updatedDate) : "NULL") + "</td>" + "<td>" + (response.data[i].Status == 0 ? "Incomplete" : "Completed") + "</td>" + "</tr>"
                                    }
                                    $("#tablePurchaseOrder").append(row);
                    }
                }
            });
                                setTimeout(function () {
                                    swal({
                                        title: "Poof! Car has been deleted!",
                                        icon: "success",
                                        button: true,
                                        dangermode: false,
                                    });
                                }, 100);
                                $('#pagination').empty();
                                $('#pagination').removeData("twbs-pagination");
                                $('#pagination').unbind("page");

                                $('#paginationSearchMutiplePages').empty();
                                $('#paginationSearchMutiplePages').removeData("twbs-pagination");
                                $('#paginationSearchMutiplePages').unbind("page");

                                pageCofig = {
                                    pageSize: 3,
                                    pageIndex: 1
                                }
                                pageSearchCofig = {
                                    pageSize: 3,
                                    pageIndex: 1
                                }
                            } else {
                                swal({
                                    title: "Can not delete this car!",
                                    text: "This car is exsiting in sale order",
                                    icon: "error",
                                    button: true,
                                    dangermode: true,
                                });
                            }
                        }
                    });
                }
            });
    }
    function editCar(CarId) {
        $.ajax({
            type: "POST",
            url: "/Admin/Car/CheckEdit",
            data: { CarId: CarId },
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            success: function (response) {
                if (response) {
                    swal({
                        title: "Can not edit this car!",
                        text: "This car exsited in sell order",
                        icon: "error",
                        button: true,
                        dangermode: true,
                    });
                } else {
                    window.location.replace("/Admin/Car/Edit?CarId=" + CarId)
                }
            }
        });
    }
</script>
