@model Vehicle_Showroom_Management_System.Areas.Admin.Data.UserAccount

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/Index.cshtml";
}
    <div class="container">
        <h2 style="text-align: center">Add new user</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", @id = "FullName" } })
                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @id = "UserName" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @id = "Password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @id = "Address" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @id = "Email" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @id = "PhoneNumber" } })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
                        <button type="submit" id="btnSubmit" hidden class="btn btn-success">add</button>
            </div>
        }
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <a onclick="clicktest()" class="btn btn-success" style="color: white">Add new user</a>&nbsp&nbsp&nbsp&nbsp
                <a href="/Admin/Admin/UserInformation" class="btn btn-primary">Back to List</a>
            </div>
        </div>

        <script>
            function clicktest() {
                var i = 0;
                if (i==0 && $("#FullName").val() == "") {
                    swal("There is an error !!!", "Enter Fullname", "error");
                } else {
                    if (i == 0 && $("#FullName").val().length > 256) {
                        swal("There is an error !!!", "Fullname Maximum is 256 letters", "error")
                    } else {
                        i++;
                    }
                }
                if (i == 1 && $("#UserName").val() == "") {
                    swal("There is an error !!!", "Enter UserName", "error");
                } else {
                    if (i == 1) {
                    var userName = $("#UserName").val();
                    $.ajax({
                        type: "POST",
                        url: "/Admin/Admin/CheckUserName",
                        data: '{userName: "' + userName + '" }',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            if (response) {
                                swal("There is an error !!!", "UserName already existed", "error");
                            }
                            else {
                                i++;
                            }
                        }
                    });
                    }
                }
                //if ($("#UserName").val() == "") {
                //    swal("Enter UserName", "", "error");
                //}else if ($("#Password").val() == "") {
                //    swal("Enter Password", "", "error");
                //}else if ($("#Address").val() == "") {
                //    swal("Enter Address", "", "error");
                //}else if ($("#Email").val() == "") {
                //    swal("Enter Email", "", "error");
                //}else if ($("#PhoneNumber").val() == "") {
                //    swal("Enter PhoneNumber", "", "error");
                //} else {
                //    $("#btnSubmit").click();
                //}
            }
        </script>
    </div>
